@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.css-10hburv-MuiTypography-root {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.css-wa5fuu-MuiListItemIcon-root,
.css-1ddsiuw-MuiListItemIcon-root {
    font-size: 20px !important;
    margin-top: -3px;
}

/* color: '#005792' */

.css-foax25-MuiButtonBase-root-MuiIconButton-root:hover {
    border-radius: 0px !important;
}

.css-foax25-MuiButtonBase-root-MuiIconButton-root:active,
.css-foax25-MuiButtonBase-root-MuiIconButton-root:focus {
    border-radius: 0px !important;
}

.Logo {
    margin-top: 5px;
    margin-bottom: -3px;
    margin-left: 20px;
}

.LogIcon {
    font-size: 25px !important;
}

.tema {
    margin-right: 15px !important;
}

.navbar-DarkMode,
.navbar-LightMode {
    width: 24px !important;
    height: 46px !important;
    margin-top: -0.291rem !important;
}

.log-text,
.navbar-logout,
.navbar-login {
    font-size: 14px;
    margin-left: 10px;
}


.nav-text.inicio:hover .nav-text.inicio.icon {
    color: #3379a8 !important;

}

.nav-text.inicio:hover {
    color: #3379a8 !important;

}

.nav-text.horario:hover .nav-text.horario.icon {
    color: #3379a8 !important;

}

.nav-text.horario:hover {
    color: #3379a8 !important;

}

.nav-text.escola:hover .nav-text.escola.icon {
    color: #3379a8 !important;

}

.nav-text.escola:hover {
    color: #3379a8 !important;

}

.nav-text.gestao:hover .nav-text.gestao.icon {
    color: #3379a8 !important;

}

.nav-text.gestao:hover {
    color: #3379a8 !important;

}

.nav-text.faq:hover .nav-text.faq.icon {
    color: #3379a8 !important;

}

.nav-text.faq:hover {
    color: #3379a8 !important;

}

.nav-text.suporte:hover .nav-text.suporte.icon {
    color: #3379a8 !important;

}

.nav-text.suporte:hover {
    color: #3379a8 !important;

}